<div class="card" style="padding: 2rem; max-width: 600px; margin: 0 auto;">

  <h2>Nova Receita</h2>

  <form #formRecipe="ngForm" (ngSubmit)="salvar()">

    <div style="display: flex; color: #3d3c41; flex-direction: column; gap: 1.5rem; margin-top: 1.5rem;">

      <div>
        <label>Nome *</label><br>
        <input type="text" pInputText name="nome" [(ngModel)]="receita.nome" required minlength="3" #nome="ngModel" style="width: 100%;">
        <small *ngIf="nome.invalid && nome.touched" style="color: #ff5252;">O nome é obrigatório e deve ter no mínimo 3 caracteres.</small>
      </div>

      <div>
        <label>Categoria *</label><br>
        <select name="categoria" [(ngModel)]="receita.categoria" required class="p-inputtext" style="width: 100%;">
          <option value="" disabled selected>Selecione uma categoria</option>
          <option *ngFor="let cat of categoriasAtuais" [value]="cat">{{ cat }}</option>
        </select>
      </div>

      <div style="display: flex; gap: 1rem;">
        <div style="flex: 1;">
          <label>Tempo preparo (minutos) *</label><br>
          <input type="number" pInputText name="tempoPreparo" [(ngModel)]="receita.tempoPreparo" required min="1" style="width: 100%;">
        </div>
        <div style="flex: 1;">
          <label>Porções *</label><br>
          <input type="number" pInputText name="porcoes" [(ngModel)]="receita.porcoes" required min="1" style="width: 100%;">
        </div>
      </div>

      <div>
        <label>Ingredientes (Separados por vírgula) *</label><br>
        <input type="text" pInputText name="ingredientes" [(ngModel)]="ingredientesTexto" required #ingredientes="ngModel" placeholder="Ex: 2 ovos, 1 xícara de leite..." style="width: 100%;">
        <small *ngIf="ingredientes.invalid && ingredientes.touched" style="color: #ff5252;">Informe ao menos um ingrediente.</small>
      </div>

      <div>
        <label>Modo de preparo *</label><br>
        <textarea pInputTextarea name="modoPreparo" [(ngModel)]="receita.modoPreparo" required minlength="10" #modoPreparo="ngModel" rows="5" style="width: 100%"></textarea>
        <small *ngIf="modoPreparo.invalid && modoPreparo.touched" style="color: #ff5252;">O modo de preparo é obrigatório e deve ter no mínimo 10 caracteres.</small>
      </div>

      <div style="display: flex; gap: 1rem; margin-top: 1rem;">

        <p-button
          label="Cancelar"
          severity="secondary"
          (onClick)="cancelar()"
          [disabled]="salvando">
        </p-button>

        <p-button
          type="submit"
          label="Salvar"
          severity="success"
          [disabled]="formRecipe.invalid || salvando"
          [loading]="salvando">
        </p-button>

      </div>

    </div>
  </form>
</div>
